<%- include('../partials/header') %>

<form action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat Number: </label>
    <input type="text" name="seat" placeholder="A-F 1-99" required pattern="[A-F][1-9]\d?"><br>
    <label>Price $:</label>
    <input type="number" name="price" required><br>
    <button type="submit">Choose Seat</button>
</form>

<%- include('../partials/footer') %>